<div id="blue">
    <div class="container">
    <div class="row">
      <h3><%= @artist.first_name %> <%= @artist.last_name %></h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container">
  <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
    <%= link_to 'Edit', edit_artist_path(@artist), class: 'btn btn-success' %> |
    <%= link_to 'Back', artists_path, class: 'btn btn-default'%>
    <% else %>
    <%= link_to 'Back', artists_path, class: 'btn btn-default'%>
    <% end %>
  <% else %>
    <%= link_to 'Back', artists_path, class: 'btn btn-default'%>
  <% end %>


<p id="notice"><%= notice %></p>

<hr>

<%= image_tag @artist.profilepic.url %>

<p>
  <strong>First name:</strong>
  <%= @artist.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @artist.last_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artist.description %>
</p>

<!-- <p>
  <strong>Aris:</strong>
  <%#= @artist.user.inspect %>
</p>

<p>
  <strong>Artist:</strong>
  <%#= @artist.inspect %>
</p>

<p>
  <strong>Artist:</strong>
  <%#= @artist.user %>
</p> -->

<%= render 'partials/comments' %>

</div>
