<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @artist.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @artist.last_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artist.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @artist.user.inspect %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @artist.inspect %>
</p>

<%= image_tag @artist.profilepic.url(:medium) %>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
