<p id="notice"><%= notice %></p>

<h1>Arts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Size</th>
      <th>Medium</th>
      <th>Location</th>
      <th>Date made</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <td><%= image_tag art.image.url(:thumb) %></td>
        <td><%= art.title %></td>
        <td><%= art.description %></td>
        <td><%= art.price %></td>
        <td><%= art.size %></td>
        <td><%= art.medium %></td>
        <td><%= art.location %></td>
        <td><%= art.date_made %></td>
        <td><%= art.user.email %></td>
        <td><%= link_to 'Show', art %></td>
        <td><%= link_to 'Edit', edit_art_path(art) %></td>
        <td><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <% if current_user.has_role? :artist %>
    <%= link_to 'New Art', new_art_path %>
  <% else %>
    <%= link_to 'Join as an Artist!', pages_artists_path %>
  <% end %>
<% else %>
  <%= link_to 'Join as an Artist!', pages_artists_path %>
<% end %>
