
<div id="blue">
    <div class="container">
    <div class="row">
      <h3><%= @art.title %></h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container">
  <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
    <%= link_to 'Edit', edit_art_path(@art), class: 'btn btn-success' %> |
    <%= link_to 'Back', arts_path, class: 'btn btn-default'%>
    <% else %>
    <%= link_to 'Back', arts_path, class: 'btn btn-default'%>
    <% end %>
  <% else %>
    <%= link_to 'Back', arts_path, class: 'btn btn-default'%>
  <% end %>

<p id="notice"><%= notice %></p>

    <hr>

<%= image_tag @art.image.url(:original) %>

<p>
  <strong>Description:</strong>
  <%= @art.description %>
</p>

<p>
  <strong>Price: </strong>$
  <%= @art.price %>
</p>

<p>
  <strong>Size:</strong>
  <%= @art.size %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @art.medium %>
</p>

<p>
  <strong>Location:</strong>
  <%= @art.location %>
</p>

<p>
  <strong>Date made:</strong>
  <%= @art.date_made %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @art.user.email %>
</p>

<p>
  <strong>Rating:</strong>
  <%= rating_for @art, 'rating', star: 5 %>
</p>

<% if user_signed_in? %>
<p>
  <%= render 'partials/stripe', art: @art %>
</p>
<% else %>
<h5>Want to buy this painting? Please <%= link_to 'Login', new_user_session_path %> or <%= link_to 'Signup', new_user_registration_path %>!</h5>
<% end %>

<%= render 'partials/comments' %>

<script id="dsq-count-scr" src="//goodart.disqus.com/count.js" async></script>

</div>
