<!-- *****************************************************************************************************************
 BLUE WRAPPER
 ***************************************************************************************************************** -->
<div id="blue">
  <div class="container">
  <div class="row">
    <h3>Contact.</h3>
  </div>
  </div>
</div>

<!-- *****************************************************************************************************************
FLASH NOTICE
 ***************************************************************************************************************** -->

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% elsif flash[:warning] %>
  <div class="alert alert-danger"><%= flash[:warning] %></div>
<% else %>
<% end %>

<!-- *****************************************************************************************************************
 CONTACT FORM
 ***************************************************************************************************************** -->

 <div class="container mtb">
  <div class="row">
    <div class="col-lg-8">
      <h4>Let's Get In Touch!</h4>
      <div class="hline"></div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <form role="form">
          <%= simple_form_for :contact do |f| %>
          <div class="form-group">
            <label>Email</label>
            <%= f.input :email, label: false, class: 'form-input' %>
          </div>
          <div class="form-group">
            <label>Message</label>
            <%= f.input :message, :as => :text, label: false, class: 'form-input' %>
          </div>
          <div class="form-group">
            <%= f.submit 'Submit', class: 'btn btn-theme' %>
          </div>
          <% end %>
        </form>
    </div>

    <div class="col-lg-4">
      <h4>Our Address</h4>
      <div class="hline"></div>
        <p>
          200 Oxford Street,<br/>
          Sydney, NSW<br/>
          2000, Australia.<br/>
        </p>
        <p>
          Email: info@goodart.com<br/>
          Tel: 0420 123 456
        </p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
  </div>
 </div>
